/* WEB FONT */
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* BASIC */
body {
  font: normal 18px/22px "Varela Round", sans-serif;
  /*background-color: #e9ffff;*/
  background-color: #eaffd6;
  color: #2e2e2e;
}
h1, h2 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #e0e0e0;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}
p {
  margin: 20px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* LAYOUT */
.fixed-nav-bar {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}

.content {
  position: relative;
  background: #464646 url(grass-background.jpg) no-repeat center center fixed;
  background-size: cover;
 }
.description, .description2, .other-stuff {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.description {
  padding-top: 100px;
  min-height: 250px;
  text-align: center;
}
.description2 {
  padding-top: 100px;
/*  min-height: 250px; */
  text-align: center;
}
.other-stuff {
  color: #747474;
}
.other-stuff h1 {
  color: #384e56;
  margin-top: 30px;
  text-transform: uppercase;
}
.other-stuff h2 a:link, .other-stuff h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.other-stuff h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.summary {
  color: #d9dee2;
  margin-top: 40px;
  margin-bottom: 60px;
}
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 270px;
  margin: 10px 10px 22px 10px;
  padding: 10px;
  /**font-family: "Signika", sans-serif;**/
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  /**text-transform: capitalize;**/
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;

}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}

/* new stuff */
.sitename {
    float: left;
}
/*
#gfestPoster {
    width:290px;
    height:auto;
    margin-top: -58px;
    margin-bottom: 6px;
}
*/

#gfestPoster {
    width: 290px;
    height: auto;
    /* margin-top: -58px; */
    /* margin-bottom: 6px; */
    float: right;
}

#pageOneContent {
    margin-top: 0 !important;
}

#owl-example .item{
  margin: 3px;
}

#owl-example .item img{
  display: block;
    margin: 0 auto;
//  width: 100%;
    width: auto;
//  height: 120px;
  height: 300px;
//    max-height: 300px !important;
}

.performerDiv2 {
    display: none;
}

.performerDiv3 {
    display: none;
}

.performerDiv4 {
  display: none;
}

.performersSection, .sponsorsSection {
    cursor: pointer;
}

.sponsorDiv2 {
    display: none;
}

.sponsorDiv3 {
    display: none;
}

.sponsorDiv4 {
  display: none;
}

.modalAlert {
    display: none;
}

.gFestArticleImage {
    width: 100%;
}

#gFestArticle {
    display: block;
    padding: 24px 20px 0px 24px;
    width: 100%;
}
/*
.menu-items {
    margin: 0px !important;
    padding-left: 0px !important;
}
*/
