BODY{
	margin:0;
	font: 10pt Verdana;
	height:100%;
	background-color: #1A1631;
}
html
{
	WIDTH:100%;
	height:100%;
	vertical-align:top;
}
.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

a:link {
	color: #1A1631;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a:active {
	color: #1A1631;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a:visited {
	text-decoration: none;
	color: #1A1631;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a:hover {
	text-decoration: none;
	color: #FE0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
a.footer:link    { color:green; text-decoration:none; font-size:10px }
    a.footer:visited { color:green; text-decoration:none; font-size:10px }
    a.footer:hover   { color:green; text-decoration:underline;font-size:10px  }
    a.footer:active  { color:green; text-decoration:none; font-size:10px }

.main {
	border-left: 1px solid red;
	border-right: 1px solid red;
	height: 100%;

}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
}
.footer {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #336600;
}
