body {
	background-color: #000000;
	color: #FFFFFF;
}
a {
	color: #99CCFF;
}

a:visited{
	color: #99CCFF;
}

a:link{
	color: #99CCFF;
}

#textbox {
	width: 800px;
	text-align: left;
}
#menu {
	font-size: medium;
	background-color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	padding: 8px;
}
#menu a {
	color: #99CCFF;
	text-decoration: none;
	background-color: #000000;
	padding: 8px;
}
#menu a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	background-color: #333333;
	padding: 8px;
}
